# Example environment variables for Docker Compose
DATABASE_URL=postgres://postgres:password@db:5432/postgres
REDIS_URL=redis://redis:6379/1
RAILS_ENV=development
COOKIE_KEY=at_least_30_characters_long_secret_key
SECURE_ENCRYPTION_KEY=at_least_30_characters_long_encryption_key
SECURE_NONCE_KEY=another_secret_key
DEFAULT_HOST=localhost:3000
# AWS_KEY=
# AWS_SECRET=
# UPLOADS_S3_BUCKET=
# STATIC_S3_BUCKET=
