<button type="button" class="la-style-switcher__btn" title="Try New Style" onclick={{action "toggleMenu"}}>
  <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <rect x="3" y="3" width="7" height="7"/><rect x="14" y="3" width="7" height="7"/><rect x="14" y="14" width="7" height="7"/><rect x="3" y="14" width="7" height="7"/>
  </svg>
</button>
{{#if this.menu_open}}
  <div class="la-style-switcher__menu">
    <button type="button" class="la-style-switcher__item" onclick={{action "goToNewStyle"}}>
      Try New Style
    </button>
  </div>
{{/if}}
