<div class={{this.elem_class}} style={{this.elem_style}}>
  <h3>{{t "Most-Frequent Core Word Pairings" key="common_word_pairs"}}</h3>
  <div style="height: 300px; position: relative;">
    {{chart-sankey-word-pairs data=this.wordPairsData}}
  </div>
</div>
